{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Product' %} # {{ product.pk }}
{% endblock %}


{% block body %}
    <h1>{% translate 'Product' %} <strong> {{ product.name }} </strong></h1>
    <div>
        <div>{% translate 'Description' %}: <i>{{ product.description }}</i></div>
        <div>{% translate 'Price' %}: {{ product.price }}</div>
        <div>{% translate 'Discount' %}: {{ product.discount }}</div>
        <div>{% translate 'Archived' %}: {{ product.archived }}</div>
        {% if product.preview %}
            <img src="{{ product.preview.url }}">
        {% endif %}
        <h3>{% translate 'Images' %}:</h3>
        {% if product.images.all  %}
            <div>
                {% blocktranslate count img_count=product.images.all|length %}
                    There is only one image.
                    {% plural %}
                    There are {{ img_count }} images.
                {% endblocktranslate %}
            </div>
        {% endif %}
        <div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                </div>
                <div>{{ img.description }}</div>
            {% empty %}
                <div>{% translate 'No images' %}</div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}">{% translate 'Update product' %}</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}">{% translate 'Delete (archived) product' %}</a>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">{% translate 'Back to products list' %}</a>
    </div>
{% endblock %}