{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Products list' %}
{% endblock %}

{% block body %}
    <h1>{% translate 'Products' %}: </h1>
    {% if products %}
        <div>
            {% blocktranslate count product_count=products|length %}
                There is only one product.
                {% plural %}
                There are {{ product_count }} products.
            {% endblocktranslate %}
        </div>
        <div>
            {% for product in products %}
                <div>
                    <p><a href="{% url 'shopapp:product_details' pk=product.pk %}">
                        {% translate 'Name' context 'product name' %}: {{ product.name }}</a></p>
                    <p>{% translate 'Price' %}: {{ product.price }}$</p>
                    {% translate 'no discount' as no_discount %}
                    <p>{% translate 'Discount' %}: {% firstof product.discount no_discount %}</p>
                    {% translate 'no information' as no_information %}
                    <p>{% translate 'Created by' %}: {% firstof product.created_by no_information %}</p>

                    {% if product.preview %}
                        <img src="{{ product.preview.url }}">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3>{% translate 'No products' %}</h3>
    {% endif %}

    {% if perms.shopapp.add_product %}
        <div>
            <a href="{% url 'shopapp:create_product' %}">{% translate 'Create a new product' %}</a>
        </div>
    {% endif %}
    <div>
        <a href="{% url 'shopapp:index' %}">{% translate 'Back to shop' %}</a>
    </div>
{% endblock %}
