{% extends 'shopapp/base.html' %} # импортирование

{% block title %}
    Shop Index
{% endblock %}

<!--переопределение-->
{% block body %}
    <h1>Hello Shop Index!!!</h1>
    <div>
        <ul>
            {% for name, price in products %}
                <li>{{ name }} for {{ price|floatformat:'2g' }}$</li>
                <span>Word length = {{ name|length }}</span>
                {% if name|length_is:'2' %}
                    <span>(Discount)</span>
                {% elif name|length != '2' %}
                    <span>(No discount)</span>
                {% endif %}
            {% empty %}
                No product
            {% endfor %}
        </ul>
    </div>

    <div>
        Time running: {{ time_running }}
    </div>

    <div>
        {% lorem 3 p random %}
    </div>

    <div>
        <li>Sections of the site:</li>
        {% for page, link in links %}
            <p>{{ page }}. Url_name: {{ link }}</p>
        {% endfor %}
    </div>
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Shop Index</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Hello Shop Index!!!</h1>-->
<!--<div>-->
<!--    Time running: {{ time_running }}-->
<!--</div>-->

<!--<div>-->
<!--    {% lorem 3 p random %}-->
<!--</div>-->

<!--</body>-->
<!--</html>-->