{% extends 'myauth/base.html' %}

{% block title %}
    User # {{ user.pk }}
{% endblock %}


{% block body %}
    <h1>User <strong> {{ user.name }} </strong></h1>
    <div>
        <div>Bio: <i>{{ user.bio }}</i></div>
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}">
        {% endif %}
        <h3>Images:</h3>
        <div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                </div>
                <div>{{ img.description }}</div>
            {% empty %}
                <div>No images</div>
            {% endfor %}
        </div>
    </div>
    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update product</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Delete (archived) product</a>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
    </div>
{% endblock %}