{% extends 'myauth/base.html' %} # импортирование

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <h1>Users: </h1>
    {% if users %}
        <div>
            {% for user in users %}
                <p>
                    {% if user.avatar %}
                        <img src="{{ user.avatar.url }}">
                    {% else %}
                        <p>No avatar</p>
                    {% endif %}
                </p>
                <h3><a href="{% url 'myauth:user_details' %}">
                        Name: {{ user.username }}</a></h3>
            {% endfor %}
        </div>
    {% else %}
        <h3>No users</h3>
    {% endif %}
{% endblock %}